html {
    background: black;
    height: 100%;
    overflow: hidden;
}

body .canvas #background_canvas{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
}

body #foreground{
    background-color:transparent;
    fill-opacity: 100%;
}