@font-face {
    font-family: Monocraft;
    src: url("../Monocraft.ttf");
}

html {
    background: black;
    height: 100%;
    overflow: hidden;
}

body .background {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
}

body .foreground {
    background-color: transparent;
    fill-opacity: 100%;
    z-index: 10;
    color: #FFF;
    position: absolute;
}

body .foreground #pfp {
    border-radius: 50%;
}

body #username {
    font-family: Monocraft, monospace;
    font-size: xx-large;
}