html {
    background: black;
    height: 100%;
    overflow: hidden;
}

body .canvas #background{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
}